@charset "UTF-8";

.carousel-block {
    position: relative;
    padding-bottom: 25px;
    margin: 1rem 0;
}

.slick-slider {
    padding: 0 2rem;
}

.slick-prev {
    left: .5rem;
}

.slick-next {
    right: .5rem;
}

.slick-track {
    display: flex;
}

.slick-dots {
    left: 0;
    right: 0;
}

.slick-slide {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;

    text-align: center;
    line-height: 1;
    outline: none;
    padding: 0 10px;
}

.slick-slide:focus {
    outline: 1px dotted;
}

.slick-slide img {
    display: flex;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height:75vh;
    margin: auto;
}

.slick-slide .slide-text {
    margin: 0;
    display: block;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}

.slick-slide .slide-text .title {
    font-weight: bold;
}

.slick-initialized .slick-slide {
    display: flex;
}

.slick-vertical .slick-slide {
    display: flex;
}

.slick-track .slick-slide {
    display: flex;
    height: auto;
    justify-content: center;
    word-wrap: break-word;
}

.slick-next .slick-next-icon:before,
.slick-next .slick-prev-icon:before,
.slick-prev .slick-next-icon:before,
.slick-prev .slick-prev-icon:before {
    color: black;
}

.slick-autoplay-toggle-button .slick-play-icon:before,
.slick-autoplay-toggle-button .slick-pause-icon:before {
    font-family: "Font Awesome 5 Free";
    font-size: 14px;
    font-weight: 900;
    color: black;
}

.slick-autoplay-toggle-button .slick-play-icon:before {
    content: "\f04b";
}

.slick-autoplay-toggle-button .slick-pause-icon:before {
    content: "\f04c";
}

